<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.course.home.createOrEditLabel"
          data-cy="CourseCreateUpdateHeading"
          v-text="$t('blogApp.course.home.createOrEditLabel')"
        >
          Create or edit a Course
        </h2>
        <div>
          <div class="form-group" v-if="course.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="course.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.idCourse')" for="course-idCourse">Id Course</label>
            <input
              type="number"
              class="form-control"
              name="idCourse"
              id="course-idCourse"
              data-cy="idCourse"
              :class="{ valid: !$v.course.idCourse.$invalid, invalid: $v.course.idCourse.$invalid }"
              v-model.number="$v.course.idCourse.$model"
              required
            />
            <div v-if="$v.course.idCourse.$anyDirty && $v.course.idCourse.$invalid">
              <small class="form-text text-danger" v-if="!$v.course.idCourse.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.course.idCourse.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.idDeliveryMan')" for="course-idDeliveryMan">Id Delivery Man</label>
            <input
              type="text"
              class="form-control"
              name="idDeliveryMan"
              id="course-idDeliveryMan"
              data-cy="idDeliveryMan"
              :class="{ valid: !$v.course.idDeliveryMan.$invalid, invalid: $v.course.idDeliveryMan.$invalid }"
              v-model="$v.course.idDeliveryMan.$model"
              required
            />
            <div v-if="$v.course.idDeliveryMan.$anyDirty && $v.course.idDeliveryMan.$invalid">
              <small class="form-text text-danger" v-if="!$v.course.idDeliveryMan.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.time')" for="course-time">Time</label>
            <input
              type="text"
              class="form-control"
              name="time"
              id="course-time"
              data-cy="time"
              :class="{ valid: !$v.course.time.$invalid, invalid: $v.course.time.$invalid }"
              v-model="$v.course.time.$model"
              required
            />
            <div v-if="$v.course.time.$anyDirty && $v.course.time.$invalid">
              <small class="form-text text-danger" v-if="!$v.course.time.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.course.time.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.adress')" for="course-adress">Adress</label>
            <input
              type="text"
              class="form-control"
              name="adress"
              id="course-adress"
              data-cy="adress"
              :class="{ valid: !$v.course.adress.$invalid, invalid: $v.course.adress.$invalid }"
              v-model="$v.course.adress.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.shoppingCart')" for="course-shoppingCart">Shopping Cart</label>
            <select class="form-control" id="course-shoppingCart" data-cy="shoppingCart" name="shoppingCart" v-model="course.shoppingCart">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  course.shoppingCart && shoppingCartOption.id === course.shoppingCart.id ? course.shoppingCart : shoppingCartOption
                "
                v-for="shoppingCartOption in shoppingCarts"
                :key="shoppingCartOption.id"
              >
                {{ shoppingCartOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.deliveryMan')" for="course-deliveryMan">Delivery Man</label>
            <select class="form-control" id="course-deliveryMan" data-cy="deliveryMan" name="deliveryMan" v-model="course.deliveryMan">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="course.deliveryMan && deliveryManOption.id === course.deliveryMan.id ? course.deliveryMan : deliveryManOption"
                v-for="deliveryManOption in deliveryMen"
                :key="deliveryManOption.id"
              >
                {{ deliveryManOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.course.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./course-update.component.ts"></script>
