<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="course">
        <h2 class="jh-entity-heading" data-cy="courseDetailsHeading">
          <span v-text="$t('blogApp.course.detail.title')">Course</span> {{ course.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.course.idCourse')">Id Course</span>
          </dt>
          <dd>
            <span>{{ course.idCourse }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.course.idDeliveryMan')">Id Delivery Man</span>
          </dt>
          <dd>
            <span>{{ course.idDeliveryMan }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.course.time')">Time</span>
          </dt>
          <dd>
            <span>{{ course.time | duration }} ({{ course.time }})</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.course.adress')">Adress</span>
          </dt>
          <dd>
            <span>{{ course.adress }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.course.shoppingCart')">Shopping Cart</span>
          </dt>
          <dd>
            <div v-if="course.shoppingCart">
              <router-link :to="{ name: 'ShoppingCartView', params: { shoppingCartId: course.shoppingCart.id } }">{{
                course.shoppingCart.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.course.deliveryMan')">Delivery Man</span>
          </dt>
          <dd>
            <div v-if="course.deliveryMan">
              <router-link :to="{ name: 'DeliveryManView', params: { deliveryManId: course.deliveryMan.id } }">{{
                course.deliveryMan.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="course.id" :to="{ name: 'CourseEdit', params: { courseId: course.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./course-details.component.ts"></script>
