<template>
  <div>
    <b-dropdown-item to="/client">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.client')">Client</span>
    </b-dropdown-item>
    <b-dropdown-item to="/course">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.course')">Course</span>
    </b-dropdown-item>
    <b-dropdown-item to="/delivery-man">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.deliveryMan')">Delivery Man</span>
    </b-dropdown-item>
    <b-dropdown-item to="/shopping-cart">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.shoppingCart')">Shopping Cart</span>
    </b-dropdown-item>
    <b-dropdown-item to="/restaurant">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.restaurant')">Restaurant</span>
    </b-dropdown-item>
    <b-dropdown-item to="/cooperative">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.cooperative')">Cooperative</span>
    </b-dropdown-item>
    <b-dropdown-item to="/product">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.product')">Product</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
