<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.client.home.createOrEditLabel"
          data-cy="ClientCreateUpdateHeading"
          v-text="$t('blogApp.client.home.createOrEditLabel')"
        >
          Create or edit a Client
        </h2>
        <div>
          <div class="form-group" v-if="client.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="client.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.clientId')" for="client-clientId">Client Id</label>
            <input
              type="number"
              class="form-control"
              name="clientId"
              id="client-clientId"
              data-cy="clientId"
              :class="{ valid: !$v.client.clientId.$invalid, invalid: $v.client.clientId.$invalid }"
              v-model.number="$v.client.clientId.$model"
              required
            />
            <div v-if="$v.client.clientId.$anyDirty && $v.client.clientId.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.clientId.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.client.clientId.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.name')" for="client-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="client-name"
              data-cy="name"
              :class="{ valid: !$v.client.name.$invalid, invalid: $v.client.name.$invalid }"
              v-model="$v.client.name.$model"
              required
            />
            <div v-if="$v.client.name.$anyDirty && $v.client.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.surname')" for="client-surname">Surname</label>
            <input
              type="text"
              class="form-control"
              name="surname"
              id="client-surname"
              data-cy="surname"
              :class="{ valid: !$v.client.surname.$invalid, invalid: $v.client.surname.$invalid }"
              v-model="$v.client.surname.$model"
              required
            />
            <div v-if="$v.client.surname.$anyDirty && $v.client.surname.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.surname.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.address')" for="client-address">Address</label>
            <input
              type="text"
              class="form-control"
              name="address"
              id="client-address"
              data-cy="address"
              :class="{ valid: !$v.client.address.$invalid, invalid: $v.client.address.$invalid }"
              v-model="$v.client.address.$model"
              required
            />
            <div v-if="$v.client.address.$anyDirty && $v.client.address.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.address.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.email')" for="client-email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="client-email"
              data-cy="email"
              :class="{ valid: !$v.client.email.$invalid, invalid: $v.client.email.$invalid }"
              v-model="$v.client.email.$model"
              required
            />
            <div v-if="$v.client.email.$anyDirty && $v.client.email.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.email.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.client.email.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Email' })"
              >
                This field should follow pattern for "Email".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.phone')" for="client-phone">Phone</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              id="client-phone"
              data-cy="phone"
              :class="{ valid: !$v.client.phone.$invalid, invalid: $v.client.phone.$invalid }"
              v-model="$v.client.phone.$model"
            />
            <div v-if="$v.client.phone.$anyDirty && $v.client.phone.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.client.phone.minLength"
                v-text="$t('entity.validation.minlength', { min: 10 })"
              >
                This field is required to be at least 10 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.client.phone.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 10 })"
              >
                This field cannot be longer than 10 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.client.language')" for="client-language">Language</label>
            <select
              class="form-control"
              name="language"
              :class="{ valid: !$v.client.language.$invalid, invalid: $v.client.language.$invalid }"
              v-model="$v.client.language.$model"
              id="client-language"
              data-cy="language"
              required
            >
              <option
                v-for="language in languageValues"
                :key="language"
                v-bind:value="language"
                v-bind:label="$t('blogApp.Language.' + language)"
              >
                {{ language }}
              </option>
            </select>
            <div v-if="$v.client.language.$anyDirty && $v.client.language.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.language.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.client.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./client-update.component.ts"></script>
