<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="deliveryMan">
        <h2 class="jh-entity-heading" data-cy="deliveryManDetailsHeading">
          <span v-text="$t('blogApp.deliveryMan.detail.title')">DeliveryMan</span> {{ deliveryMan.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.deliveryMan.name')">Name</span>
          </dt>
          <dd>
            <span>{{ deliveryMan.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.deliveryMan.surname')">Surname</span>
          </dt>
          <dd>
            <span>{{ deliveryMan.surname }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.deliveryMan.phone')">Phone</span>
          </dt>
          <dd>
            <span>{{ deliveryMan.phone }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="deliveryMan.id"
          :to="{ name: 'DeliveryManEdit', params: { deliveryManId: deliveryMan.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./delivery-man-details.component.ts"></script>
