<template>
  <div>
    <h2 id="page-heading" data-cy="DeliveryManHeading">
      <span v-text="$t('blogApp.deliveryMan.home.title')" id="delivery-man-heading">Delivery Men</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.deliveryMan.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'DeliveryManCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-delivery-man"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.deliveryMan.home.createLabel')"> Create a new Delivery Man </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && deliveryMen && deliveryMen.length === 0">
      <span v-text="$t('blogApp.deliveryMan.home.notFound')">No deliveryMen found</span>
    </div>
    <div class="table-responsive" v-if="deliveryMen && deliveryMen.length > 0">
      <table class="table table-striped" aria-describedby="deliveryMen">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryMan.name')">Name</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryMan.surname')">Surname</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryMan.phone')">Phone</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="deliveryMan in deliveryMen" :key="deliveryMan.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'DeliveryManView', params: { deliveryManId: deliveryMan.id } }">{{ deliveryMan.id }}</router-link>
            </td>
            <td>{{ deliveryMan.name }}</td>
            <td>{{ deliveryMan.surname }}</td>
            <td>{{ deliveryMan.phone }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'DeliveryManView', params: { deliveryManId: deliveryMan.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'DeliveryManEdit', params: { deliveryManId: deliveryMan.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(deliveryMan)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.deliveryMan.delete.question" data-cy="deliveryManDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-deliveryMan-heading" v-text="$t('blogApp.deliveryMan.delete.question', { id: removeId })">
          Are you sure you want to delete this Delivery Man?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-deliveryMan"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeDeliveryMan()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./delivery-man.component.ts"></script>
