<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.deliveryMan.home.createOrEditLabel"
          data-cy="DeliveryManCreateUpdateHeading"
          v-text="$t('blogApp.deliveryMan.home.createOrEditLabel')"
        >
          Create or edit a DeliveryMan
        </h2>
        <div>
          <div class="form-group" v-if="deliveryMan.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="deliveryMan.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryMan.name')" for="delivery-man-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="delivery-man-name"
              data-cy="name"
              :class="{ valid: !$v.deliveryMan.name.$invalid, invalid: $v.deliveryMan.name.$invalid }"
              v-model="$v.deliveryMan.name.$model"
              required
            />
            <div v-if="$v.deliveryMan.name.$anyDirty && $v.deliveryMan.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.deliveryMan.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryMan.surname')" for="delivery-man-surname">Surname</label>
            <input
              type="text"
              class="form-control"
              name="surname"
              id="delivery-man-surname"
              data-cy="surname"
              :class="{ valid: !$v.deliveryMan.surname.$invalid, invalid: $v.deliveryMan.surname.$invalid }"
              v-model="$v.deliveryMan.surname.$model"
              required
            />
            <div v-if="$v.deliveryMan.surname.$anyDirty && $v.deliveryMan.surname.$invalid">
              <small class="form-text text-danger" v-if="!$v.deliveryMan.surname.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryMan.phone')" for="delivery-man-phone">Phone</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              id="delivery-man-phone"
              data-cy="phone"
              :class="{ valid: !$v.deliveryMan.phone.$invalid, invalid: $v.deliveryMan.phone.$invalid }"
              v-model="$v.deliveryMan.phone.$model"
            />
            <div v-if="$v.deliveryMan.phone.$anyDirty && $v.deliveryMan.phone.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.deliveryMan.phone.minLength"
                v-text="$t('entity.validation.minlength', { min: 10 })"
              >
                This field is required to be at least 10 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.deliveryMan.phone.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 10 })"
              >
                This field cannot be longer than 10 characters.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.deliveryMan.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./delivery-man-update.component.ts"></script>
