<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="shoppingCart">
        <h2 class="jh-entity-heading" data-cy="shoppingCartDetailsHeading">
          <span v-text="$t('blogApp.shoppingCart.detail.title')">ShoppingCart</span> {{ shoppingCart.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.shoppingCart.orderId')">Order Id</span>
          </dt>
          <dd>
            <span>{{ shoppingCart.orderId }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.total')">Total</span>
          </dt>
          <dd>
            <span>{{ shoppingCart.total }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.clientId')">Client Id</span>
          </dt>
          <dd>
            <span>{{ shoppingCart.clientId }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.cooperativeId')">Cooperative Id</span>
          </dt>
          <dd>
            <span>{{ shoppingCart.cooperativeId }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.restaurantId')">Restaurant Id</span>
          </dt>
          <dd>
            <span>{{ shoppingCart.restaurantId }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.payement')">Payement</span>
          </dt>
          <dd>
            <span v-text="$t('blogApp.Payement.' + shoppingCart.payement)">{{ shoppingCart.payement }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.client')">Client</span>
          </dt>
          <dd>
            <div v-if="shoppingCart.client">
              <router-link :to="{ name: 'ClientView', params: { clientId: shoppingCart.client.id } }">{{
                shoppingCart.client.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.restaurant')">Restaurant</span>
          </dt>
          <dd>
            <div v-if="shoppingCart.restaurant">
              <router-link :to="{ name: 'RestaurantView', params: { restaurantId: shoppingCart.restaurant.id } }">{{
                shoppingCart.restaurant.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.shoppingCart.cooperative')">Cooperative</span>
          </dt>
          <dd>
            <div v-if="shoppingCart.cooperative">
              <router-link :to="{ name: 'CooperativeView', params: { cooperativeId: shoppingCart.cooperative.id } }">{{
                shoppingCart.cooperative.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="shoppingCart.id"
          :to="{ name: 'ShoppingCartEdit', params: { shoppingCartId: shoppingCart.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./shopping-cart-details.component.ts"></script>
