<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.shoppingCart.home.createOrEditLabel"
          data-cy="ShoppingCartCreateUpdateHeading"
          v-text="$t('blogApp.shoppingCart.home.createOrEditLabel')"
        >
          Create or edit a ShoppingCart
        </h2>
        <div>
          <div class="form-group" v-if="shoppingCart.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="shoppingCart.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.orderId')" for="shopping-cart-orderId">Order Id</label>
            <input
              type="number"
              class="form-control"
              name="orderId"
              id="shopping-cart-orderId"
              data-cy="orderId"
              :class="{ valid: !$v.shoppingCart.orderId.$invalid, invalid: $v.shoppingCart.orderId.$invalid }"
              v-model.number="$v.shoppingCart.orderId.$model"
              required
            />
            <div v-if="$v.shoppingCart.orderId.$anyDirty && $v.shoppingCart.orderId.$invalid">
              <small class="form-text text-danger" v-if="!$v.shoppingCart.orderId.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.shoppingCart.orderId.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.total')" for="shopping-cart-total">Total</label>
            <input
              type="number"
              class="form-control"
              name="total"
              id="shopping-cart-total"
              data-cy="total"
              :class="{ valid: !$v.shoppingCart.total.$invalid, invalid: $v.shoppingCart.total.$invalid }"
              v-model.number="$v.shoppingCart.total.$model"
              required
            />
            <div v-if="$v.shoppingCart.total.$anyDirty && $v.shoppingCart.total.$invalid">
              <small class="form-text text-danger" v-if="!$v.shoppingCart.total.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.shoppingCart.total.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.clientId')" for="shopping-cart-clientId">Client Id</label>
            <input
              type="number"
              class="form-control"
              name="clientId"
              id="shopping-cart-clientId"
              data-cy="clientId"
              :class="{ valid: !$v.shoppingCart.clientId.$invalid, invalid: $v.shoppingCart.clientId.$invalid }"
              v-model.number="$v.shoppingCart.clientId.$model"
              required
            />
            <div v-if="$v.shoppingCart.clientId.$anyDirty && $v.shoppingCart.clientId.$invalid">
              <small class="form-text text-danger" v-if="!$v.shoppingCart.clientId.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.shoppingCart.clientId.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.cooperativeId')" for="shopping-cart-cooperativeId"
              >Cooperative Id</label
            >
            <input
              type="number"
              class="form-control"
              name="cooperativeId"
              id="shopping-cart-cooperativeId"
              data-cy="cooperativeId"
              :class="{ valid: !$v.shoppingCart.cooperativeId.$invalid, invalid: $v.shoppingCart.cooperativeId.$invalid }"
              v-model.number="$v.shoppingCart.cooperativeId.$model"
              required
            />
            <div v-if="$v.shoppingCart.cooperativeId.$anyDirty && $v.shoppingCart.cooperativeId.$invalid">
              <small class="form-text text-danger" v-if="!$v.shoppingCart.cooperativeId.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.shoppingCart.cooperativeId.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.restaurantId')" for="shopping-cart-restaurantId"
              >Restaurant Id</label
            >
            <input
              type="number"
              class="form-control"
              name="restaurantId"
              id="shopping-cart-restaurantId"
              data-cy="restaurantId"
              :class="{ valid: !$v.shoppingCart.restaurantId.$invalid, invalid: $v.shoppingCart.restaurantId.$invalid }"
              v-model.number="$v.shoppingCart.restaurantId.$model"
              required
            />
            <div v-if="$v.shoppingCart.restaurantId.$anyDirty && $v.shoppingCart.restaurantId.$invalid">
              <small class="form-text text-danger" v-if="!$v.shoppingCart.restaurantId.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.shoppingCart.restaurantId.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.payement')" for="shopping-cart-payement">Payement</label>
            <select
              class="form-control"
              name="payement"
              :class="{ valid: !$v.shoppingCart.payement.$invalid, invalid: $v.shoppingCart.payement.$invalid }"
              v-model="$v.shoppingCart.payement.$model"
              id="shopping-cart-payement"
              data-cy="payement"
              required
            >
              <option
                v-for="payement in payementValues"
                :key="payement"
                v-bind:value="payement"
                v-bind:label="$t('blogApp.Payement.' + payement)"
              >
                {{ payement }}
              </option>
            </select>
            <div v-if="$v.shoppingCart.payement.$anyDirty && $v.shoppingCart.payement.$invalid">
              <small class="form-text text-danger" v-if="!$v.shoppingCart.payement.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.client')" for="shopping-cart-client">Client</label>
            <select class="form-control" id="shopping-cart-client" data-cy="client" name="client" v-model="shoppingCart.client">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="shoppingCart.client && clientOption.id === shoppingCart.client.id ? shoppingCart.client : clientOption"
                v-for="clientOption in clients"
                :key="clientOption.id"
              >
                {{ clientOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.restaurant')" for="shopping-cart-restaurant"
              >Restaurant</label
            >
            <select
              class="form-control"
              id="shopping-cart-restaurant"
              data-cy="restaurant"
              name="restaurant"
              v-model="shoppingCart.restaurant"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  shoppingCart.restaurant && restaurantOption.id === shoppingCart.restaurant.id ? shoppingCart.restaurant : restaurantOption
                "
                v-for="restaurantOption in restaurants"
                :key="restaurantOption.id"
              >
                {{ restaurantOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.shoppingCart.cooperative')" for="shopping-cart-cooperative"
              >Cooperative</label
            >
            <select
              class="form-control"
              id="shopping-cart-cooperative"
              data-cy="cooperative"
              name="cooperative"
              v-model="shoppingCart.cooperative"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  shoppingCart.cooperative && cooperativeOption.id === shoppingCart.cooperative.id
                    ? shoppingCart.cooperative
                    : cooperativeOption
                "
                v-for="cooperativeOption in cooperatives"
                :key="cooperativeOption.id"
              >
                {{ cooperativeOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.shoppingCart.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./shopping-cart-update.component.ts"></script>
